# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/nbproject/jfx-impl_backup*.xml
/nbproject/UPDATED.TXT

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.pdf
*.bak

/nbproject/configs
*.xml

nbproject/jfx-impl_backup_3.xml

nbproject/jfx-impl.xml

nbproject/jfx-impl.xml

nbproject/jfx-impl.xml
